# Вивід збірки
bin/
obj/

# Пакети NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.sln.iml

# Секрети та конфігурації
appsettings.json
appsettings.Development.json

# Логи
*.log

# Бекапи
*.bak
*.swp

# Публікація
wwwroot/lib/
node_modules/
dist/
