@model EmployeeManagementSystem.Models.Employee

@{
    ViewData["Title"] = "Create Employee";
}

<h2>Додаємо  працівника</h2>

<form asp-action="Create">
    <div>
        <label>Прізвище</label>
        <input asp-for="FirstName" />
    </div>
    <div>
        <label>Ім'я</label>
        <input asp-for="LastName" />
    </div>
    <div>
        <label>Дата народження</label>
        @* <label asp-for="BirthDate"></label> *@
        <input asp-for="BirthDate" type="date" />
    </div>
    <div>
        <label>Зарплата</label>
        @* <label asp-for="Salary"></label> *@
        <input asp-for="Salary" />
    </div>
    <div>
        <label>Початок контракту</label>
        @* <label asp-for="ContractStart"></label> *@
        <input asp-for="ContractStart" type="date" />
    </div>
    <div>
        <label>Кінець контракту</label>
        @* <label asp-for="ContractEnd"></label> *@
        <input asp-for="ContractEnd" type="date" />
    </div>
    <div>
        <label>Департамент</label>
        <select asp-for="DepartmentId" asp-items="ViewBag.Departments"></select>
    </div>
    <div>
        <label>Посада</label>
        <select asp-for="PositionId" asp-items="ViewBag.Positions"></select>
    </div>
    <button type="submit">Зберегти</button>
</form>

<a asp-action="Index">Назад</a>
