@model EmployeeManagementSystem.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
}

<h2>Видалити користувача</h2>

<h3>Ви впевнені, що хочете видалити користувача?</h3>

<div>
    <p><strong>@Model.FirstName @Model.LastName</strong></p>
    <p>Відділ: @Model.Department?.Name</p>
    <p>Посада: @Model.Position?.Name</p>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Видалити</button>
    <a asp-action="Index">Назад</a>
</form>
